Template Variables - Criação Changes
<br>
<br>
<input type="text" #meuInput ngModel>

Valor Digitado: {{ meuInput.value }}


<br>
<br>
<br>


Template Variables - passagem de parâmetros
<br>
<br>
<input type="text" #meuInput2 ngModel>

Valor Digitado: {{ meuInput2.value }}

<button (click)="clicou(meuInput2)">Atualizar</button>



<!-- Ira retorna um erro pois quando utiliza o método como ngIf que foi utilizado na segundo div
ele cria um contexto/escopo e com isso o template variables não pode ser utilizado na primeira div. -->

<!-- <div class="primo">
  Filha: {{ inputPai.value }}
</div>

<div class="pai" *ngIf="true">
  <input type="text" #inputPai>
</div> -->

<br>
<br>
<br>

Conceitos do &#64;ViewChild
<br>
<br>

Meu input: <input type="text" #meuInput3 >

<button type="button" (click)="onClickInput()">Atualizar</button>

<button type="button" (click)="onFocus()">Foco</button>

<br>
<br>
<div #minhaDiv>
  Conteúdo Inicial
</div>

<button type="button" (click)="updateContent()">Atualizar Conteúdo</button>


<br>
<br>
<br>

<!-- Conceito de @ViewChild através do componente filho -->
<app-filho #filhoCom></app-filho>

<button (click)="hello()">Oi</button>

<br>
<br>
<br>

Conceitos do &#64;ViewChildren
<br>
<br>

<!-- Conceitos do @ViewChildren (bem similar ao @ViewChild porém com essa ferramenta temos acesso as listas de todos os elementos de template HTML). -->

<button
  #meuButton
  *ngFor="let btn of buttonLists; let i = index"
  class="btn-{{ i }}"
  (click)="changeColor($event)">{{ btn }}</button>

<button (click)="resetColor()">Reset</button>

<button (click)="first()">Primeiro</button>

<button (click)="remove()">Remover</button>

<br>
<br>
<br>


Conceito sobre Diretivas!!!

<app-diretiva></app-diretiva>

<br>
<br>
<br>

Conceito sobre ElementRef em componentes!!!

<app-element-ref></app-element-ref>


